/* New Container Behind Hero Section */
.new-container {
  position: absolute;  /* Positioned absolutely */
  top: 10%;              /* Align to the top of the parent container */
  left: 50%;           /* Center horizontally */
  transform: translateX(-50%); /* Center the element exactly */
  width: 90%;          /* Match width of the hero-container */
  height: 86%;        /* 5% taller than hero-container */
  background: #27538E; /* Add transparent background to match hero container */
  backdrop-filter: blur(64px); /* Blur effect */
  border-radius: 14px;
  z-index: 0;    
  box-shadow: 0px 0px 20px rgba(39, 83, 142, 0.8);     
}
  
/* Hero Wrapper */
.hero-wrapper {
  position: relative; /* To ensure the new container is positioned relative to it */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  padding-bottom: 40px;
  margin-top: -1.5rem;
}

/* Main Hero Container */
.hero-container {
  position: relative; /* Ensures it stays on top of the new container */
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 40px;
  background: linear-gradient(270deg, rgba(29, 49, 95, 0) 0%, #1d315f 67.83%),
    url("../assets/images/herobg.png");
  background-size: cover;
  background-position: top left;
  min-height: 600px;
  display: flex;
  align-items: center;
  z-index: 1; /* Ensures it's above the new container */
}


.hero-content {
  max-width: 500px;
}

.hero-heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-heading .new-line {
  display: block; 
}

.hero-text {
  font-size: 0.8rem;
  margin: 10px 0;
  color: #d9d9d9;
}

.hero-buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  
}

.herobtn-1 {
  background-color: white;
  color: #344054;
  border:1px solid #D0D5DD;
  padding: 10px 18px;
  font-weight:700;
}

.herobtn-1:hover {
  background-color: white;
  color: #344054;
}

.contact-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 10px 18px;
  font-weight: 700;
}

.contact-btn:hover {
  background-color: #673ab7;
  color: white;
}
.icon-class {
  height: 18px;
}
.contact-btn{
  border-radius: 8px !important;
}
@media (max-width:768px){

  .hero-wrapper {
   
    margin-top: -1rem;
  }
  .hero-container{
    width: 100%;
  }
  .new-container{
    width: 90%;
  }

  .hero-buttons{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}